<header class="header">
  <nav class="nav container" role="navigation" aria-label="Chính">
    <div class="nav-inner">
      <a href="index.html#home" class="logo" aria-label="OASIS VR ZONE">
        <img class="logo-badge" src="./img/logo.png" alt="">
        <span>OASIS VR ZONE</span>
      </a>

      <!-- Menu dùng chung -->
      <div class="menu" role="menubar">
        <a role="menuitem" data-nav="home"     href="index.html#home">Trang chủ</a>
        <a role="menuitem" data-nav="products" href="sp.html">Sản phẩm</a>
        <a role="menuitem" data-nav="services" href="dv.html">Dịch vụ</a>
        <a role="menuitem" data-nav="wiki"     href="wiki.html">Wiki</a>
      </div>

      <!-- CTA / Dropdown -->
      <div class="cta dropdown">
        <button class="btn primary" id="contactBtn" aria-haspopup="true" aria-expanded="false">Liên hệ</button>
        <div class="dropdown-menu" role="menu" aria-labelledby="contactBtn">
          <a href="tel:+84847465539">Số điện thoại</a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=oasisvrzone@gmail.com" target="_blank">email</a>

          <a href="https://www.facebook.com/pham.huuly.1?mibextid=ZbWKwL" target="_blank">Facebook</a>
          <a href="https://instagram.com" target="_blank" rel="noopener">Instagram</a>
          <a href="https://zalo.me/0888312727" target="_blank" rel="noopener">Zalo</a>
        </div>
      </div>
    </div>
    <!-- Mobile menu button/sheet được 3.js tạo tự động -->
  </nav>
</header>
